.App {
  font-family: sans-serif;
  text-align: center;

  .todo-item {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
  }

  .btn-delete {
    cursor: pointer;
    border: 3px solid red;
  }
}
